<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entgroup.adms.mapper.OrderAdSlotPreviewMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.entgroup.adms.model.system.OrderAdSlotPreview">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="ad_slot_id" property="adSlotId" />
		<result column="deleted" property="deleted" />
		<result column="used" property="used" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id AS orderId, ad_slot_id AS adSlotId, deleted, used
    </sql>
</mapper>
