<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entgroup.adms.mapper.OrderProgramPreviewMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.entgroup.adms.model.system.OrderProgramPreview">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="program_id" property="programId" />
		<result column="deleted" property="deleted" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id AS orderId, program_id AS programId, deleted
    </sql>
</mapper>
