<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entgroup.adms.mapper.ObjectMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.entgroup.adms.model.system.RecognitionObject">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="object_identify" property="objectIdentify" />
		<result column="parent_id" property="parentId" />
		<result column="source_id" property="sourceId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, object_identify AS objectIdentify, parent_id AS parentId, source_id AS sourceId
    </sql>
</mapper>
