<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entgroup.adms.mapper.PlatformPriceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.entgroup.adms.model.system.PlatformPrice">
		<id column="id" property="id" />
		<result column="price_factor" property="priceFactor" />
		<result column="company_id" property="companyId" />
		<result column="level_id" property="levelId" />
		<result column="deleted" property="deleted" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, price_factor AS priceFactor, company_id AS companyId, level_id AS levelId, deleted
    </sql>
</mapper>
