<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entgroup.adms.mapper.SceneRecognitionResultMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.entgroup.adms.model.system.SceneRecognitionResult">
		<id column="id" property="id" />
		<result column="video_id" property="videoId" />
		<result column="scene_id" property="sceneId" />
		<result column="video_position" property="videoPosition" />
		<result column="selected" property="selected" />
		<result column="image_server" property="imageServer" />
		<result column="created" property="created" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, video_id AS videoId, scene_id AS sceneId, video_position AS videoPosition, selected, image_server AS imageServer, created
    </sql>
	<!-- edited by mxy on 2017-03-20 19:53 begin -->
	<!--获取视频场景识别结果-->
	<select id="getSceneRecognitionResultList"
			resultMap="getSceneRecognitionResultListMap" parameterType="com.entgroup.adms.model.system.SceneRecognitionResult">
		SELECT
		srr.id,
		srr.video_position,
		srr.image_server,
		srr.created,
		video.id AS vid,
		video.name,
		scene.id AS sid,
		scene.name AS sname,
		scene.scene_identify
		FROM
		(SELECT
		*
		FROM
		sys_scene_recognition_result
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="videoId != null">
				AND video_id = #{videoId}
			</if>
			<if test="sceneId !=null">
				AND scene_id = #{sceneId}
			</if>
		</trim>
		) srr
		LEFT JOIN sys_video video
		ON video.id = srr.video_id
		LEFT JOIN sys_scene scene
		ON scene.id = srr.scene_id
		ORDER BY id ASC
	</select>
	<resultMap type="com.entgroup.adms.model.system.SceneRecognitionResult"
			   id="getSceneRecognitionResultListMap" extends="BaseResultMap">
		<association property="video"
					 javaType="com.entgroup.adms.model.system.Video">
			<id property="id" column="vid" />
			<result property="name" column="name" />
		</association>
		<association property="scene"
					 javaType="com.entgroup.adms.model.system.Scene">
			<id property="id" column="sid" />
			<result property="name" column="sname" />
			<result property="sceneIdentify" column="scene_identify" />
		</association>
	</resultMap>
 <!-- edited by mxy on 2017-03-20 20:52 end -->
</mapper>
